html {
  font-size: 16px; /*ya esta por defecto en este valor pero lo dejamos establecido por si acaso*/
}
body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  margin: 0;
}
main {
  margin: 0 4% 0 4%;
}
.container {
  width: 100%;
  height: 100%;
  max-width: 2560px;
}
header {
  font-weight: 600;
  color: #363636d4;
  height: auto;
  margin: 0 5px 80px 5px;
  position: fixed; /* Cambiamos la posicion */
  top: 0; /* Lo fijamos en la parte superior */
  z-index: 100;
  width: 100vw;
  background-color: #ffffff;
  
}
.gridNavContainer {
  display: grid;
  grid-template-columns: 0.3fr 0.4fr 0.3fr;
}
.imgLogo {
  width: 45px;
  height: 35px;
}
.imgLogoText {
  width: 70px;
  height: 30px;
}
.ulNav {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
}

.dropdownNavMenu {
  display: none;
  background-color: #2ad16713;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100%;
}

.ulDropNav {
  list-style: none;
  font-size: 30px;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
}

.liDropNav {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.liDropNav a {
  text-decoration: none;
  color: #363636d4;
}

.liDropNav:hover {
  background-color: #2ad1674a;
}

.burgerIcon {
  width: 100%;
  display: none;
  justify-content: right;
  align-items: center;
}

.burgerIcon img {
  width: 45px;
  height: 45px;
}

.liNav {
  margin: 0 8px 0 8px;
}

.liNav a {
  text-decoration: none;
  color: #1c1c1c;
}
.btnLogin {
  margin: 0 15px 0 15px;
}
.btnRegister {
  background-color: #2ad167;
  border-radius: 6px;
  color: #f7f8f9;
  padding: 8px 15px 8px 15px;
}
#logo {
  display: flex;
  align-items: center;
  justify-content: left;
}
#nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
#login {
  display: flex;
  align-items: center;
  justify-content: right;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 130px;
  margin-bottom: 80px;
  font-weight: bold;
}
.new {
  background-color: #2ad167;
  border-radius: 18px;
  color: #f7f8f9;
  padding: 3px 7px 3px 7px;
  font-size: 9px;
}
.hero h1 {
  font-size: 62px;
  font-weight: 700;
  margin: 0;
}
.subtextHero {
  font-size: 15px;
  color: #727272;
  margin: 30px 0 40px 0;
}
.btnHeroDemo {
  display: block;
  background-color: #2ad167;
  border-radius: 6px;
  border: solid 2px #2ad167;
  color: #f7f8f9;
  padding: 8px 25px 8px 25px;
  width: fit-content;
  height: 35px;
  display: flex;
  align-items: center;
  margin-right: 15px;
  text-decoration: none;
}
.btnRegisterWhite {
  border: solid 1px #b3b3b3;
  border-radius: 6px;
  padding: 8px 25px 8px 25px;
  height: 35px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #1c1c1c;
}
.heroRight {
  width: 43%;
  display: flex;
  justify-content: center;
  position: relative;
}
.heroLeft {
  width: 43%;
}
.imgHeroYellow {
  position: absolute;
  top: -10%;
  left: 6%;
  z-index: 2;
}
.imgHeroCenter {
  position: relative;
  z-index: 1;
  width: 554;
  height: 464;
}
.imgHeroBlue {
  position: absolute;
  z-index: 1;
  bottom: -10%;
  right: 6%;
}

#Features {
  display: grid;
  gap: 30px;
  padding: 100px 13% 50px 13%;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 375px;
}

.featureImg {
  width: 25px;
  fill: white;
}

.imgFeaturesCont {
  display: flex;
  justify-content: center;
  width: 70px;
  height: 70px;
  background-color: #2ad167;
  border-radius: 7px;
}
.textFeaturesCont {
  display: flex;
  height: 150px;
  width: 85%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 1.4;
}
.textFeaturesCont h2 {
  font-size: 25px;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 0;
  color: #1c1c1c;
}
.textFeaturesCont p {
  font-weight: 600;
  color: #5f5f5ff7;
}
.pricesCont {
  display: flex;
  width: 100%;
  flex-direction: column;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}
.pricesTextCont {
  display: flex;
  width: 86%;
  flex-direction: column;
  justify-content: left;
}
.pricesTextCont h3 {
  font-size: 50px;
  color: #363636;
  margin-bottom: 5px;
}
.pricesCard {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  align-items: center;
  padding: 30px;
  width: 300px;
}
.pricesCardsCont {
  display: grid;
  gap: 30px;
  padding: 100px 13% 50px 13%;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
.priceCont {
  display: flex;
  flex-direction: row;
  font-weight: 600;
  color: #363636;
}
.pricesTag {
  font-size: 20px;
  margin-right: 5px;
}
.pricesPrice {
  font-size: 45px;
}
.pricesMonth {
  font-size: 25px;
}
.pricesImgCheck {
  width: 17px;
  height: 17px;
  margin-right: 10px;
}
.pricesPlanFeaturesCont {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.pricesPlanFeatures {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 600;
  color: rgb(54, 54, 54);
  font-size: 15px;
}
.pricesPriceTop {
  background-color: #2ad16713;
  width: fit-content;
  padding: 4px 6px 4px 6px;
  border-radius: 15px;
  color: #2ad167;
  font-size: 12px;
}
.pricesPlan {
  color: #2ad167;
  font-size: 20px;
}
.pricesFact {
  color: #929292;
}
.heroBtnsCont {
  display: flex;
  flex-direction: row;
}
.btnPriceDemo {
  display: block;
  background-color: #2ad167;
  border-radius: 6px;
  border: solid 2px #2ad167;
  color: #f7f8f9;
  padding: 8px 20px 8px 20px;
  height: 25px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  text-decoration: none;
}
.footerCont {
  width: 100%;
  background-color: #2a3342;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5% 0% 5% 0%;
}
.imgLogoTextFooter {
  width: 70px;
  height: 30px;
}
.ulNavFooter {
  margin-top: 40px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  color: rgb(187, 187, 187);
  width: 100%;
}
.footerAsset {
  width: 65%;
}
.line {
  width: 100%;
  height: 2px;
  background-image: linear-gradient(
    to bottom,
    rgba(114, 114, 114, 0.1) 0%,
    rgba(114, 114, 114, 0.3) 50%,
    rgba(114, 114, 114, 0.1) 100%
  );
}
.footerCopyRightText {
  color: rgb(187, 187, 187);
  margin: 40px;
  text-align: center;
}
@media (max-width: 400px) {
  main,
  body {
    margin: 0px;
  }
  header {
    margin: 0 5px 30px 5px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.188);
  }
  nav {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #nav {
    display: none;
  }
  .ulNav {
    display: none;
  }
  #login {
    display: none;
  }
  .burgerIcon {
    display: flex;
  }
  #Features {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 40px 13% 50px 13%;
    background-color: #36363609;
  }
  .feature {
    padding-top: 30px;
  }
  .pricesCardsCont {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 0;
  }
  .gridNavContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;    
  }
  .hero {
    flex-direction: column-reverse;
    margin-top: 0px;
    background: linear-gradient(to top, transparent, 60%, #2ad16754, transparent);
  }
  .heroRight {
    width: 100%;
    background-image: url("img/header.jpg");
    background-size: 110%;
    background-position: -10px;
    height: 300px;
    margin-bottom: 20px;
  }
  .heroLeft {
    width: 90%;
  }
  .imgHeroCenter {
    display: none;
  }
  .ulNavFooter {
    flex-direction: unset;
    flex-wrap: wrap;
  }
  .footerAsset {
    width: 92%;
    line-height: 40px;
  }
  #footerlogo {
    margin-top: 20px;
  }
  .hero h1 {
    font-size: 35px;
    font-weight: 700;
    margin: 0;
  }
  .imgHeroYellow {
    display: none;
  }
  .imgHeroBlue {
    display: none;
  }
  .pricesTextCont h3 {
    font-size: 30px;
  }
}

.btnOpenClass {
  cursor: pointer;
}
.modalCont {
  position: absolute;
  z-index: 3;
  top: 100px;
  display: none;
  width: 600px;
  height: 600px;
  padding: 20px;
  margin: 0;
  background-color: #2a3342;
  border-radius: 20px;
}
.modalCloseCont {
  display: flex;
  flex-direction: row-reverse;
}
.modalCloseBtn {
  color: #ccc;
  font-weight: bolder;
  font-size: 25px;
  cursor: pointer;
}
.modalLogoImg {
  width: 40px;
  height: 30px;
  background-color: #2ad167;
  border-radius: 10px;
  padding: 10px 8px 10px 8px;
  margin-bottom: 0;
}
.modalTextTitle {
  text-align: center;
  width: 100%;
  color: #ffffff;
  font-weight: bolder;
  font-size: 1.6rem;
  margin-bottom: 0;
  margin-top: 15px;
}
.modalTextSubtitle {
  color: #ffffff;
  width: 100%;
  text-align: center;
  opacity: 40%;
  font-size: 0.8rem;
}
.modalGenericSpan {
  color: #ffffff;
  font-size: 0.9rem;
  margin: 3px 0 3px 0;
}
.modalCheckCont {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 0.9rem 0;
  align-items: center;
}
.modalCheckBox {
  width: 15px;
  height: 15px;
  border-radius: 100%; /*Esta propiedad no es tomada en cuenta por el explorador, no sabemos porque, ampliaremos*/
  vertical-align: middle;
  border: 1px solid #ddd;
  outline: none;
}
.modalCheckRememberCont {
  display: flex;
  align-items: center;
  margin: 0;
}
.modalTextSmall {
  color: #ffffff;
  font-size: 0.6rem;
}
.modalForgetPasswordRegister {
  font-size: 0.6rem;
  color: #2ad167;
}
.modalForm {
  width: 60%;
}
.modalNoFormCont {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.modalFormCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.modalInputCont {
  display: flex;
  flex-direction: column;
}
.modalInput {
  height: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 6px 15px 6px 15px;
  margin-bottom: 1rem;
}
.modalLoginBtn {
  display: block;
  text-align: center;
  background-color: #2ad167;
  border-radius: 6px;
  color: #f7f8f9;
  padding: 8px 15px 8px 15px;
  margin-bottom: 0.7rem;
}
.modalRegisterMsgCont {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 400px) {
  .modalCont {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    top: 0;
  }
  .modalTextTitle {
    font-size: 1.1rem;
  }
  .modalFormCont {
    width: 100vw;
  }
  .modalCloseCont {
    margin-right: 15px;
  }
}
